@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?kexani");
  src: url("fonts/icomoon.eot?kexani#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?kexani") format("truetype"), url("fonts/icomoon.woff?kexani") format("woff"), url("fonts/icomoon.svg?kexani#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-arrow {
  transform-origin: 50% 50%;
  display: inline-block; }
  .icon-icon-arrow:before {
    content: "\e900"; }
  .icon-icon-arrow.top {
    transform: rotate(180deg);
    transform-origin: 35% 55%; }
  .icon-icon-arrow.left {
    transform: rotate(90deg); }
  .icon-icon-arrow.right {
    transform: rotate(-90deg) translateX(-4px); }

/* Function and mixins -----*/
/* Normalize ----------------*/
a {
  text-decoration: none; }

/* length variables ---------*/
/* Colors -------------------*/
/* Fonts --------------------*/
html {
  font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Typography ---------------*/
/* Layout -------------------*/
html.no-scroll {
  overflow: hidden; }

* {
  overflow: auto;
  transition: all 200ms ease; }

.row {
  box-sizing: border-box;
  padding: 0 7px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col {
  float: left;
  box-sizing: border-box;
  padding: 0 7px; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }

.boundary {
  –webkit-overflow-scrolling: touch; }

.full-viewport {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .full-viewport > .container {
    overflow: auto;
    height: 100vh; }
  @media only screen and (min-width: 768px) {
    .full-viewport {
      min-height: 768px; }
      .full-viewport > .container {
        min-height: 768px; } }
  @media only screen and (max-width: 767px) {
    .full-viewport {
      height: 600px; }
      .full-viewport > .container {
        height: 600px; } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .full-viewport {
      min-height: 667px; }
      .full-viewport > .container {
        min-height: 667px; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

/* home--------------*/
#home h1 {
  font-weight: 100;
  margin: 0 auto; }
  #home h1 span {
    display: block; }

#home .name {
  font-weight: 600; }

#home img#face {
  display: block;
  width: 33.333333%;
  border-radius: 50%;
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  #home {
    height: auto; }
    #home .scrollCTA {
      display: none; }
    #home img#face {
      max-width: 250px;
      margin-top: 80px;
      margin-bottom: 30px; }
    #home h1 {
      text-align: center;
      line-height: 1.35; }
      #home h1 .greeting {
        font-size: 30px;
        font-size: 1.875rem; }
      #home h1 .preps, #home h1 .residence, #home h1 .role {
        font-size: 20px;
        font-size: 1.25rem; }
      #home h1 .name {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1.3125; }
      #home h1 .role {
        line-height: 1.5; }
      #home h1 .craft {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 1.23077; } }

@media only screen and (min-width: 768px) {
  #home img#face {
    max-width: 160px;
    margin-top: 22.22222vh;
    margin-bottom: 40px; }
  #home h1 {
    line-height: 1.28571;
    max-width: 392px; }
  #home .greeting, #home .preps, #home .residence, #home .role {
    display: inline;
    font-size: 24px;
    font-size: 1.5rem; }
  #home .name {
    font-weight: 400;
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 1.28125; }
  #home .craft {
    font-size: 36px;
    font-size: 2.25rem; }
  #home .scrollCTA {
    color: black;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%); }
    #home .scrollCTA .icon {
      display: block;
      text-align: center;
      font-size: 30px;
      margin-top: 10px; } }

@media only screen and (min-width: 1024px) {
  #home h1 {
    font-size: 28px;
    font-size: 1.75rem;
    max-width: 456px; }
  #home .name {
    font-size: 64px;
    font-size: 4rem; }
  #home .craft {
    font-size: 48px;
    font-size: 3rem; } }

#projects article {
  position: relative; }

#projects .key-visual-container * {
  overflow: hidden; }

#projects article {
  transition: background 1200ms cubic-bezier(0.39, 0.575, 0.565, 1); }

#projects .lines span.vertical {
  transition: height 0.3s 0.4s, left 0.4s; }
  #projects .lines span.vertical.right {
    transition: height 0.4s, left 0.4s; }

#projects .lines span.horizontal {
  transition: width 0.4s, top 0.3s 0.4s; }
  #projects .lines span.horizontal.bottom {
    transition: width 0.4s, top 0.4s; }

#projects .key-visual-container {
  transition: left 0.4s; }

#projects .key-visual {
  transition: margin-top 0.3s 0.4s, width 0.4s, height 0.3s; }
  #projects .key-visual .key-visual-img-container {
    transition: transform 0.4s; }
  #projects .key-visual img {
    transition: transform 0.6s 0.4s; }
  #projects .key-visual .img-shadow:after {
    transition: opacity 0.3s 0.4s; }

#projects h2 {
  transition: opacity 0.4s ease-in; }
  #projects h2.detail-title {
    transition: opacity 0.3s ease-in 0.2s; }

#projects .info.more-info, #projects .info.less-info {
  transition: opacity 1s 0.6s; }

#projects article:nth-child(even) .lines span.vertical {
  transition: height 0.4s, right 0.4s; }
  #projects article:nth-child(even) .lines span.vertical.right {
    transition: height 0.3s 0.4s, right 0.4s; }

#projects article:nth-child(even) .lines span.horizontal {
  transition: width 0.4s, top 0.3s 0.4s; }
  #projects article:nth-child(even) .lines span.horizontal.bottom {
    transition: width 0.4s, top 0.4s; }

#projects article:nth-child(even) .key-visual-container {
  transition: right 0.4s; }

#projects article:nth-child(even) .key-visual {
  transition: margin-top 0.3s 0.4s, margin-left 0.4s, width 0.4s, height 0.3s; }
  #projects article:nth-child(even) .key-visual .key-visual-img-container {
    transition: transform 0.4s; }
  #projects article:nth-child(even) .key-visual img {
    transition: transform 0.6s 0.4s, margin-left 0.4s; }

#projects .detail-only {
  opacity: 0;
  visibility: hidden;
  display: none; }

#projects .key-visual-container {
  overflow: visible;
  position: relative; }

#projects .key-visual {
  position: relative;
  overflow: hidden; }
  #projects .key-visual .key-visual-img-container {
    transform: perspective(850px) translate3d(0px, -15px, -50px);
    transform-origin: 0 0; }
  #projects .key-visual img {
    display: block; }
  #projects .key-visual .img-shadow {
    display: block;
    transform-origin: 0 50%;
    transform: perspective(850px) rotate3d(0, -1, 0, -15deg); }
    #projects .key-visual .img-shadow:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: black;
      opacity: 0.55; }

#projects h2 {
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  text-shadow: 0px 0px 2px #9d9d9d;
  padding: 2px;
  z-index: 1;
  opacity: 1; }
  #projects h2 a {
    color: white; }
  #projects h2.detail-title {
    opacity: 0; }

#projects .info {
  color: #666666;
  line-height: 1.57143; }
  #projects .info.index {
    font-weight: 100; }
  #projects .info.more-info, #projects .info.less-info {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 10px;
    white-space: nowrap;
    display: block; }
    #projects .info.more-info .icon, #projects .info.less-info .icon {
      font-size: 17px;
      font-size: 1.0625rem;
      font-weight: 600; }
  #projects .info.more-info {
    opacity: 1;
    visibility: visible; }
  #projects .info.less-info {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5); }
  #projects .info.project {
    line-height: 1.57143; }
    #projects .info.project span {
      display: block; }
      #projects .info.project span.title {
        text-decoration: underline; }
    #projects .info.project p {
      margin-bottom: 1em; }
    #projects .info.project li:before {
      content: "-";
      margin-right: 4px; }

#projects .lines {
  pointer-events: none; }
  #projects .lines span.vertical {
    width: 0;
    border-left: 1px solid rgba(26, 26, 26, 0.05); }
  #projects .lines span.horizontal {
    height: 0;
    border-top: 1px solid rgba(26, 26, 26, 0.05); }

#projects article.detail .overview-only {
  opacity: 0;
  visibility: hidden;
  display: none; }

#projects article.detail .detail-only {
  opacity: 1;
  visibility: visible;
  display: block; }

#projects article.detail .overlay {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll; }
  #projects article.detail .overlay > .container {
    height: auto; }

#projects article.detail .first-row:after {
  content: "";
  display: table;
  clear: both; }

#projects article.detail .first-row .col:first-child {
  padding-left: 0; }

#projects article.detail .key-visual .key-visual-img-container {
  transform: translate3d(0px, 0px, 0px); }
  #projects article.detail .key-visual .key-visual-img-container a {
    pointer-events: none; }

#projects article.detail .key-visual .img-shadow {
  transform: perspective(850px) rotate3d(0, -1, 0, 0deg); }
  #projects article.detail .key-visual .img-shadow:after {
    opacity: 0; }

#projects article.detail h2.overview-title {
  pointer-events: none;
  opacity: 0; }

#projects article.detail h2.detail-title {
  opacity: 1; }

#projects article.detail .info {
  color: #b3b3b3; }
  #projects article.detail .info.less-info {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
  #projects article.detail .info.more-info {
    opacity: 0;
    visibility: hidden; }
  #projects article.detail .info.project {
    overflow: visible; }
  #projects article.detail .info.project-detail {
    background: rgba(0, 0, 0, 0.8);
    position: relative; }
    #projects article.detail .info.project-detail .text {
      position: relative; }
    #projects article.detail .info.project-detail .images {
      position: relative;
      margin: 10px 0 100px; }
      #projects article.detail .info.project-detail .images img {
        display: block;
        width: 100%; }
    #projects article.detail .info.project-detail p {
      font-family: "Roboto", Arial, sans-serif;
      font-weight: 100; }
      #projects article.detail .info.project-detail p span.strong {
        display: inline;
        font-weight: 400; }

#projects article.detail .lines span.horizontal.top, #projects article.detail .lines span.horizontal.bottom,
#projects article.detail .lines span.vertical.left, #projects article.detail .lines span.vertical.right {
  border-color: rgba(255, 255, 255, 0.1); }

#projects article.detail:nth-child(even) .key-visual .key-visual-img-container {
  transform: translate3d(0px, 0px, 0px); }
  #projects article.detail:nth-child(even) .key-visual .key-visual-img-container a {
    pointer-events: none; }

#projects article.detail:nth-child(even) .key-visual .img-shadow {
  transform: perspective(850px) rotate3d(0, -1, 0, 0deg); }
  #projects article.detail:nth-child(even) .key-visual .img-shadow:after {
    opacity: 0; }

@media only screen and (min-width: 1024px) {
  #projects .key-visual-container {
    width: 100vh;
    min-width: 768px;
    top: 0;
    left: calc((200 / 1440) * 100% + 4px); }
  #projects .key-visual {
    width: 680px;
    height: 381px;
    margin-top: calc((200 / 900) * 100% + 4px); }
    #projects .key-visual img {
      width: 800px;
      height: 440px; }
    #projects .key-visual .img-shadow {
      width: 800px;
      height: 440px; }
      #projects .key-visual .img-shadow:after {
        width: 800px;
        height: 440px; }
  #projects h2 {
    font-size: 100px;
    font-size: 6.25rem;
    position: absolute; }
    #projects h2.overview-title {
      left: 25%;
      top: 37.77778%; }
    #projects h2.detail-title {
      left: calc(50% + 380px);
      top: 180px;
      transform: scale(0.6, 0.6) translate(-100%, -100%);
      transform-origin: 0 0; }
  #projects .info {
    font-size: 14px;
    font-size: 0.875rem;
    position: absolute; }
    #projects .info.time {
      font-size: 12px;
      font-size: 0.75rem;
      left: calc((200 / 1440) * 100% + 14px);
      top: calc((200 / 900) * 100% + -20px); }
    #projects .info.index {
      font-size: 18px;
      font-size: 1.125rem;
      left: calc((200 / 1440) * 100% + 687px + 10px);
      top: calc((200 / 900) * 100% - 30px); }
    #projects .info.more-info {
      left: calc((200 / 1440) * 100% + 687px);
      top: calc((200 / 900) * 100% + 389px - 34px); }
    #projects .info.less-info {
      position: fixed;
      right: 30px;
      bottom: 30px; }
    #projects .info.project {
      left: 13.88889%;
      top: calc((200 / 900) * 100% + 389px + 14px);
      width: 687px; }
      #projects .info.project span.title {
        font-size: 12px;
        font-size: 0.75rem; }
  #projects .lines {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; } }
  @media only screen and (min-width: 1024px) and (min-width: 768px) {
    #projects .lines {
      min-height: 768px; } }
  @media only screen and (min-width: 1024px) and (max-width: 767px) {
    #projects .lines {
      min-height: 667px; } }

@media only screen and (min-width: 1024px) {
    #projects .lines span {
      display: block;
      position: absolute; }
    #projects .lines span.vertical {
      height: 84.44444%; }
    #projects .lines span.horizontal {
      width: 83.88889%; }
      #projects .lines span.horizontal.top {
        top: 22.22222%;
        left: 0;
        width: calc(200 / 1440 * 100% + 687px + (140 / 1440 * 100%)); }
      #projects .lines span.horizontal.bottom {
        top: calc((200 / 900) * 100% + 389px);
        right: 0;
        width: calc(100vw - (200 / 1440) * 100% + 77px); }
  #projects article:nth-child(odd) .lines span.vertical.left {
    left: calc((200 / 1440) * 100%);
    top: 0; }
  #projects article:nth-child(odd) .lines span.vertical.right {
    left: calc((200 / 1440) * 100% + 687px);
    bottom: 0; }
  #projects article:nth-child(even) span.vertical.left {
    left: auto;
    right: calc((200 / 1440) * 100% + 687px);
    bottom: 0; }
  #projects article:nth-child(even) span.vertical.right {
    left: auto;
    right: calc((200 / 1440) * 100%);
    top: 0; }
  #projects article:nth-child(even) span.horizontal.top {
    left: auto;
    right: 0; }
  #projects article:nth-child(even) span.horizontal.bottom {
    left: 0;
    right: auto; }
  #projects article:nth-child(even) .key-visual-container {
    position: absolute;
    left: auto;
    right: calc((200 / 1440) * 100% + 4px); }
  #projects article:nth-child(even) .key-visual {
    position: absolute;
    right: 0; }
    #projects article:nth-child(even) .key-visual .key-visual-img-container {
      height: 440px;
      transform: perspective(850px) translate3d(0px, -15px, -50px);
      transform-origin: 100% 0; }
    #projects article:nth-child(even) .key-visual img {
      position: absolute;
      right: 0;
      display: block; }
    #projects article:nth-child(even) .key-visual .img-shadow {
      position: absolute;
      right: 0;
      transform-origin: 100% 50%;
      transform: perspective(850px) rotate3d(0, -1, 0, 15deg); }
      #projects article:nth-child(even) .key-visual .img-shadow:after {
        left: auto;
        right: 0; }
  #projects article:nth-child(even) h2.overview-title {
    left: 13.88889%; }
  #projects article:nth-child(even) .info.time {
    left: auto;
    right: calc((200 / 1440) * 100% + 687px - 70px); }
  #projects article:nth-child(even) .info.index {
    left: auto;
    right: calc((200 / 1440) * 100% - 36px); }
  #projects article:nth-child(even) .info.more-info {
    left: auto;
    right: calc((200 / 1440) * 100% - 92px); }
  #projects article:nth-child(even) .info.project {
    left: auto;
    right: 13.88889%; }
  #projects article.detail .first-row {
    margin-bottom: 30px; }
  #projects article.detail .detail-short-row {
    width: 78%; }
  #projects article.detail .key-visual-container {
    left: calc(50% - 400px);
    position: relative; }
  #projects article.detail .key-visual {
    position: relative;
    width: 800px;
    height: auto;
    margin-top: 180px; }
  #projects article.detail .info.time {
    left: calc(50% - 380px);
    top: 156px; }
  #projects article.detail .info.index {
    left: calc(50% + 415px);
    top: 150px; }
  #projects article.detail .info.project {
    position: relative;
    width: 800px;
    left: calc(50% - 400px);
    padding-top: 40px; }
  #projects article.detail .info.project-detail {
    width: 800px;
    margin: 0px auto; }
    #projects article.detail .info.project-detail .text {
      padding: 30px 14px; }
    #projects article.detail .info.project-detail p {
      width: 70%; }
  #projects article.detail .lines span.horizontal {
    width: 100%; }
    #projects article.detail .lines span.horizontal.top {
      top: 180px; }
    #projects article.detail .lines span.horizontal.bottom {
      top: 618px; }
  #projects article.detail .lines span.vertical {
    height: 100%; }
    #projects article.detail .lines span.vertical.left {
      left: calc(50% - 400px); }
    #projects article.detail .lines span.vertical.right {
      left: calc(50% + 400px); }
  #projects article.detail:nth-child(even) span.vertical.left {
    left: auto;
    right: calc(50% + 400px); }
  #projects article.detail:nth-child(even) span.vertical.right {
    left: auto;
    right: calc(50% - 400px); }
  #projects article.detail:nth-child(even) .key-visual-container {
    left: auto;
    right: calc(50% - 400px);
    position: absolute; }
  #projects article.detail:nth-child(even) .key-visual {
    right: 0;
    position: absolute; }
    #projects article.detail:nth-child(even) .key-visual img {
      margin-left: 0; }
  #projects article.detail:nth-child(even) .info.project {
    position: absolute;
    top: 620px; } }

@media only screen and (min-width: 1024px) and (max-width: 1160px) {
  #projects h2.overview-title {
    font-size: 84px;
    font-size: 5.25rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #projects article h2.overview-title, #projects article:nth-child(odd) h2.overview-title, #projects article:nth-child(even) h2.overview-title {
    font-size: 74px;
    font-size: 4.625rem;
    width: 100%;
    text-align: center;
    left: 0; } }

#adam-visualizer {
  background: #ffea4d; }

nav {
  z-index: 5;
  transition: all 0.8s cubic-bezier(0.935, -0.6, 0.03, 1.65); }
  nav li {
    display: inline-block; }
  nav a {
    color: #666666;
    text-decoration: none;
    display: block; }
  nav .slogan {
    margin-top: 30px;
    margin-left: 40px; }
  @media only screen and (max-width: 767px) {
    nav {
      position: absolute;
      width: 100vw;
      height: calc(100vh - 67px);
      min-height: 600px; }
      nav > .container {
        height: 100%;
        min-height: 600px; }
      nav .slogan {
        display: none; }
      nav li {
        display: block;
        position: absolute; }
        nav li.bottom {
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%); }
        nav li.left {
          transform-origin: 0 100%;
          transform: rotate(90deg) translateX(-100%);
          left: 20px;
          top: 50%; }
        nav li.right {
          transform-origin: 100% 100%;
          transform: rotate(-90deg) translateX(80%);
          right: 20px;
          top: 50%; }
      nav a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: black;
        padding: 5px 8px 5px 10px;
        border: 1px solid black;
        letter-spacing: 0.2em; } }
  @media only screen and (max-width: 736px) and (orientation: landscape) {
    nav {
      min-height: 667px; }
      nav > .container {
        min-height: 667px; } }
  @media only screen and (min-width: 768px) {
    nav {
      position: fixed;
      background: white;
      transform-origin: top;
      transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
      width: 100vw; }
      nav * {
        overflow: hidden; }
      nav.reveal {
        transform: perspective(800px) rotate3d(1, 0, 0, 0deg); }
      nav.hide {
        transform: perspective(800px) translateY(-100%);
        opacity: 0;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        /* easeInOutBack */ }
      nav:after {
        content: "";
        display: table;
        clear: both; }
      nav .slogan {
        float: left;
        font-size: 14px;
        font-size: 0.875rem; }
        nav .slogan .name {
          font-size: 18px;
          font-size: 1.125rem; }
      nav ul {
        float: right;
        margin-top: 20px;
        padding-right: 50px; }
      nav li {
        margin-left: 20px; }
        nav li a {
          font-size: 14px;
          font-size: 0.875rem;
          padding: 10px; } }
