/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?kexani");
  src: url("fonts/icomoon.eot?kexani#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?kexani") format("truetype"), url("fonts/icomoon.woff?kexani") format("woff"), url("fonts/icomoon.svg?kexani#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-arrow {
  transform-origin: 50% 50%;
  display: inline-block; }
  .icon-icon-arrow:before {
    content: "\e900"; }
  .icon-icon-arrow.top {
    transform: rotate(180deg); }
  .icon-icon-arrow.left {
    transform: rotate(90deg); }
  .icon-icon-arrow.right {
    transform: rotate(-90deg) translateX(-4px); }

/* Function and mixins -----*/
/* Normalize ----------------*/
a {
  text-decoration: none; }

/* length variables ---------*/
/* Colors -------------------*/
/* Fonts --------------------*/
html {
  font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Typography ---------------*/
/* Layout -------------------*/
* {
  overflow: auto;
  transition: all 200ms ease; }

.row {
  box-sizing: border-box;
  padding: 0 7px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col {
  float: left;
  box-sizing: border-box;
  padding: 0 7px; }

.col-1-3 {
  width: 33.33333%; }

.col-2-3 {
  width: 66.66667%; }

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }

.boundary {
  box-shadow: 0 0 10px -1px #ddd; }

.full-viewport {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .full-viewport > .container {
    /*position: relative;
        max-width: 1440px;
        margin: 0 auto;*/
    height: 100vh; }
  @media only screen and (min-width: 768px) {
    .full-viewport {
      min-height: 768px; }
      .full-viewport > .container {
        min-height: 768px; } }
  @media only screen and (max-width: 767px) {
    .full-viewport {
      min-height: 560px; }
      .full-viewport > .container {
        min-height: 560px; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
  /* Styles */ }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }

nav {
  z-index: 2;
  transition: all 600ms cubic-bezier(0.935, -0.6, 0.03, 1.65);
  /* custom */ }
  nav li {
    display: inline-block; }
  nav a {
    color: #666666;
    text-decoration: none;
    display: block; }
  nav .slogan {
    margin-top: 30px;
    margin-left: 40px; }
  @media only screen and (max-width: 767px) {
    nav {
      position: absolute;
      width: 100vw;
      height: 100vh;
      min-height: 560px; }
      nav > .container {
        height: 100vh;
        min-height: 560px; }
      nav .slogan {
        display: none; }
      nav li {
        display: block;
        position: absolute; }
        nav li.bottom {
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%); }
        nav li.left {
          transform-origin: 0 100%;
          transform: rotate(90deg) translateX(-100%);
          left: 20px;
          top: 50%; }
        nav li.right {
          transform-origin: 100% 100%;
          transform: rotate(-90deg) translateX(80%);
          right: 20px;
          top: 50%; }
      nav a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: black;
        padding: 5px 8px 5px 10px;
        border: 1px solid black;
        letter-spacing: 0.2em; } }
  @media only screen and (max-device-width: 736px) {
    nav {
      height: calc(100vh - 67px); } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    nav {
      min-height: 667px; } }
  @media only screen and (min-width: 768px) {
    nav {
      position: fixed;
      box-shadow: 0 0 5px 0 #cccccc;
      background: rgba(255, 255, 255, 0.85);
      transform-origin: top;
      transform: perspective(800px) rotate3d(1, 0, 0, 90deg);
      width: 100vw;
      /*> .container {
            max-width: 1440px;
            margin: 0 auto;
        }*/ }
      nav.reveal {
        transform: perspective(800px) rotate3d(1, 0, 0, 0deg); }
      nav:after {
        content: "";
        display: table;
        clear: both; }
      nav .slogan {
        float: left;
        font-size: 14px;
        font-size: 0.875rem; }
        nav .slogan .name {
          font-size: 18px;
          font-size: 1.125rem; }
      nav ul {
        float: right;
        margin-top: 20px;
        margin-right: 50px; }
      nav li {
        margin-left: 20px; }
        nav li a {
          padding: 10px; } }

/* home--------------*/
#home h1 {
  font-weight: 100;
  margin: 0 auto; }
  #home h1 span {
    display: block; }

#home .name {
  font-weight: 600; }

#home img#face {
  display: block;
  width: 33.333333%;
  border-radius: 50%;
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  #home {
    height: auto; }
    #home .scrollCTA {
      display: none; }
    #home img#face {
      max-width: 250px;
      margin-top: 80px;
      margin-bottom: 30px; }
    #home h1 {
      text-align: center;
      line-height: 1.35; }
      #home h1 .greeting {
        font-size: 30px;
        font-size: 1.875rem; }
      #home h1 .preps, #home h1 .residence, #home h1 .role {
        font-size: 20px;
        font-size: 1.25rem; }
      #home h1 .name {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1.3125; }
      #home h1 .role {
        line-height: 1.5; }
      #home h1 .craft {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 1.23077; } }

@media only screen and (min-width: 768px) {
  #home img#face {
    max-width: 160px;
    margin-top: 22.22222vh;
    margin-bottom: 40px; }
  #home h1 {
    line-height: 1.28571;
    max-width: 392px; }
  #home .greeting, #home .preps, #home .residence, #home .role {
    display: inline;
    font-size: 24px;
    font-size: 1.5rem; }
  #home .name {
    font-weight: 400;
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 1.28125; }
  #home .craft {
    font-size: 36px;
    font-size: 2.25rem; }
  #home .scrollCTA {
    color: black;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%); }
    #home .scrollCTA .icon {
      display: block;
      text-align: center;
      font-size: 30px;
      margin-top: 10px; } }

@media only screen and (min-width: 1024px) {
  #home h1 {
    font-size: 28px;
    font-size: 1.75rem;
    max-width: 456px; }
  #home .name {
    font-size: 64px;
    font-size: 4rem; }
  #home .craft {
    font-size: 48px;
    font-size: 3rem; } }

#projects .key-visual {
  position: absolute;
  overflow: hidden;
  width: 680px;
  height: 381px;
  left: calc((200 / 1440) * 100% + 4px);
  top: calc((200 / 900) * 100% + 4px); }
  #projects .key-visual img {
    transform: perspective(950px) scale(0.9, 0.9) rotate3d(0, -10, 0, -35deg) translate(-95px, 10px); }
  #projects .key-visual:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.55; }

#projects h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-size: 6.25rem;
  line-height: 1.2;
  color: white;
  text-shadow: 0px 0px 2px #9d9d9d;
  padding: 2px;
  position: absolute;
  left: 25%;
  top: 37.77778%;
  z-index: 1; }

#projects .info {
  color: #666666;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.57143;
  position: absolute; }
  #projects .info.time {
    font-size: 12px;
    font-size: 0.75rem;
    left: calc((200 / 1440) * 100% + 14px);
    top: calc((200 / 900) * 100% + -20px); }
  #projects .info.index {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 100;
    left: calc((200 / 1440) * 100% + 687px + 10px);
    top: calc((200 / 900) * 100% - 30px); }
  #projects .info.more-info {
    white-space: nowrap;
    font-size: 12px;
    font-size: 0.75rem;
    left: calc((200 / 1440) * 100% + 687px + 10px);
    top: calc((200 / 900) * 100% + 389px - 24px); }
    #projects .info.more-info .icon {
      font-size: 17px;
      font-size: 1.0625rem;
      font-weight: 600; }
  #projects .info.project {
    left: 13.88889%;
    top: calc((200 / 900) * 100% + 389px + 14px);
    width: 687px;
    line-height: 1.57143; }
    #projects .info.project span {
      display: block; }
      #projects .info.project span.title {
        font-size: 12px;
        font-size: 0.75rem;
        text-decoration: underline; }
    #projects .info.project p {
      margin-bottom: 1em; }
    #projects .info.project li:before {
      content: "-";
      margin-right: 4px; }

#projects article {
  position: relative; }
  #projects article .lines {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    @media only screen and (min-width: 768px) {
      #projects article .lines {
        min-height: 768px; } }
    @media only screen and (max-width: 767px) {
      #projects article .lines {
        min-height: 560px; } }
    #projects article .lines span {
      display: block;
      position: absolute; }
    #projects article .lines span.vertical {
      width: 0;
      height: 84.44444%;
      border-left: 1px solid #b3b3b3; }
    #projects article .lines span.horizontal {
      height: 0;
      width: 83.88889%;
      border-top: 1px solid #b3b3b3; }
      #projects article .lines span.horizontal.top {
        top: 22.22222%;
        left: 0;
        max-width: 1208px;
        min-width: calc(200 / 1440 * 100% + 687px + (140 / 1440 * 100%)); }
      #projects article .lines span.horizontal.bottom {
        top: calc((200 / 900) * 100% + 389px);
        right: 0;
        min-width: calc(100vw - (200 / 1440) * 100% + 77px); }

#projects article:nth-child(odd) .lines span.vertical.left {
  left: calc((200 / 1440) * 100%);
  bottom: 0; }

#projects article:nth-child(odd) .lines span.vertical.right {
  left: calc((200 / 1440) * 100% + 687px);
  top: 0; }

#projects article:nth-child(even) span.vertical.left {
  right: calc((200 / 1440) * 100% + 687px);
  bottom: 0; }

#projects article:nth-child(even) span.vertical.right {
  right: calc((200 / 1440) * 100%);
  top: 0; }

#projects article:nth-child(even) span.horizontal.top {
  left: auto;
  right: 0; }

#projects article:nth-child(even) span.horizontal.bottom {
  left: 0;
  right: auto; }

#projects article:nth-child(even) .key-visual {
  left: auto;
  right: calc((200 / 1440) * 100% + 4px); }

#projects article:nth-child(even) h2 {
  left: 13.88889%; }

#adam-visualizer {
  background: #faf5f5; }
