nav {
    display: block;
    position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 1440px;
        margin: 0 auto;

    li {
        display: inline-block;
    }

    a {
        color: $text-color;
        text-decoration: none;
        display: inline-block;
    }
    
    // mobile
    @media only screen and (max-width: 767px) {
        height: 100vh;
        min-height: 560px;

        li {
            display: block;
            position: absolute;            

            &.bottom { //PROJECTS
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.left { //LAB
                transform-origin: 0 100%;
                transform: rotate(90deg) translateX(-100%);
                left: 20px;
                top: 50%;
            }

            &.right {//ABOUT                
                transform-origin: 100% 100%;
                transform: rotate(-90deg) translateX(80%);
                right: 20px;
                top: 50%;
            }
        }

        a {
            font-family: "Roboto", Arial, sans-serif;
            @include fontSize(18px);
            text-transform: uppercase;
            color: black;
            padding: 5px 8px 5px 10px;
            border: 1px solid black;
            letter-spacing: 0.2em;
        }
    }

    @media only screen and (max-device-width: 736px) {
        height: calc(100vh - 67px); //fix mobile browser problem of viewport height changing
    }

    // mobile landscape
    @media only screen and (max-width: 767px) and (orientation: landscape) { 
        min-height: 667px;
    }

    // tablet and desktop
    @media only screen and (min-width: 768px) {
        @include clearfix;

        ul {
            float: right;
            margin-top: 30px;
            margin-right: 60px;
        }

        li {margin-left: 40px;

        }
    }
}