
/* Function and mixins -----*/
// clearfix
@mixin clearfix {
    &:after {
            content: "";
            display: table;
            clear: both;
        }
}

// font size and line height calculation s
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@function lineHeight($pixelFontSize, $pixelLineHeight) {
    @return $pixelLineHeight / $pixelFontSize;
}

//

/* Colors -------------------*/
$text-color: #666666;
$highlight-color: #231f20;


/* Fonts --------------------*/
html {
    font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* Typography ---------------*/


/* Layout -------------------*/
* {
    overflow: auto; //don't collapse margin so marign-top on child doesn't move parent
}

nav, section {
    width: 100vw;
    > .container {
        max-width: 1440px;
        margin: 0 auto;

        //border: 1px solid #ccc; //DEBUG
    }    
}