/* Colors -------------------*/
$text-color: #666666;
$highlight-color: #231f20;


/* Fonts --------------------*/
html {
    font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Typography ---------------*/
