#projects {

// ------------ desktop ------------ //
/// -------- overview ---------- ///
//// key visual
    .key-visual {
        position: absolute;
        overflow: hidden;
        width: 680px;
        height: 381px;
        left: calc((200 / 1440) * 100% + 4px);
        top: calc((200 / 900) * 100% + 4px);

        img {
            transform: perspective(950px) 
                        scale(0.9, 0.9) 
                        rotate3d(0, -10, 0, -35deg) 
                        translate(-95px, 10px);
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: black;
            opacity: 0.55;
        }
    }
//// title
    h2 {
        font-family: $helvetica;
        font-weight: bold;
        @include fontSize(100px);
        line-height: lineHeight(100, 120);
        color: white;
        text-shadow: 0px 0px 2px #9d9d9d;
        padding: 2px;

        position: absolute;
        left: (360 / 1440) * 100%;
        top: 340 / 900 * 100%;
        z-index: 1;
    }
//// info texts
    .info {
        color: $text-color;
        @include fontSize(14px);
        line-height: lineHeight(14, 22);
        position: absolute;

        &.time {
            @include fontSize(12px);
            left: calc((200 / 1440) * 100% + 14px);
            top: calc((200 / 900) * 100% + -20px);
        }

        &.index {
            @include fontSize(18px);
            font-weight: 100;
            left: calc((200 / 1440) * 100% + 687px + 10px);
            top: calc((200 / 900) * 100% - 30px);
        }

        &.more-info {
            white-space: nowrap;

            @include fontSize(12px);
            
            left: calc((200 / 1440) * 100% + 687px + 10px);
            top: calc((200 / 900) * 100% + 389px - 24px);
            .icon {
                @include fontSize(17px);
                font-weight: 600;

            }
        }


        &.project {

            left: (200 / 1440) * 100%;
            top: calc((200 / 900) * 100% + 389px + 14px);

            width: 687px;

            line-height: lineHeight(14, 22);

            span {
                display: block;
                &.title {
                    @include fontSize(12px);
                    text-decoration: underline;
                }
            }

            p {
                margin-bottom: 1em;
            }

            li:before {
                content: "-";
                margin-right: 4px;
            }

        }
    }


//// lines
    article {
        position: relative;

        .lines {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            @media only screen and (min-width: 768px) {
                min-height: 768px;
            }

            @media only screen and (max-width: 767px) {
                min-height: 560px;
            }

            span {
                display: block;
                position: absolute;
            }

            span.vertical {
                width: 0;
                height: (760 / 900) * 100%;
                border-left: 1px solid $line-color;              
            }

            span.horizontal {
                height: 0;
                width: (1208 / 1440) * 100%;
                border-top: 1px solid $line-color;

                &.top {
                    top: (200 / 900) * 100%;
                    left: 0;
                    max-width: 1208px;
                    min-width: calc(200 / 1440 * 100% + 687px + (140 / 1440 * 100%));
                    //transform: translate(0, 200px);
                }

                &.bottom {
                    top: calc((200 / 900) * 100% + 389px);
                    right: 0;
                    min-width: calc(100vw - (200 / 1440) * 100% + 77px);
                    //transform: translate(122px, 589px);
                }
            }
        } 
    }


//// odd even
    article:nth-child(odd) .lines {

        span.vertical {            
            &.left {
                left: calc((200 / 1440) * 100%);
                bottom: 0;
                //transform: translate(200px, 138px);
            }
            &.right {
                left: calc((200 / 1440) * 100% + 687px);
                top: 0;
                //transform: translate(887px, 0px);
            }
        }

        
    }

    article:nth-child(even) {

        span.vertical {            
            &.left {
                right: calc((200 / 1440) * 100% + 687px);
                bottom: 0;
                //transform: translate(200px, 138px);
            }
            &.right {
                right: calc((200 / 1440) * 100% );
                top: 0;
                //transform: translate(887px, 0px);
            }
        }

        span.horizontal {
            &.top {
                left: auto;
                right: 0;
            }
            &.bottom {
                left: 0;
                right: auto;
            }

        }

        .key-visual {
            left:auto;
            right: calc((200 / 1440) * 100% + 4px);
        }

        h2 {
            left: (200 / 1440) * 100%;
        }
    }



}