$key-visual-width: 680px;
$key-visual-height:381px;


#projects {

    article {
        position: relative;
    }

    .key-visual-container * {
        overflow: hidden;
    }

/// * animation * ///
    // background color
    article {
        transition: background 1200ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }

    // lines
    .lines {
        span.vertical {
            transition: height 0.3s 0.4s, left 0.4s;
            &.right {
                transition: height 0.4s, left 0.4s;
            }
        }
        span.horizontal {
            transition: width 0.4s, top 0.3s 0.4s;
            &.bottom {
                transition: width 0.4s, top 0.4s;
            }
        }
    }

    // key visual
    .key-visual-container {
        transition: left 0.4s;
    }

    .key-visual {
        transition: margin-top 0.3s 0.4s, width 0.4s, height 0.3s;
        
        .key-visual-img-container {
            transition: transform 0.4s;
        }

        img {
            transition: transform 0.6s 0.4s;
        }

        .img-shadow {
            // transition: width 0.3s, height 0.3s;

            &:after {
                transition: opacity 0.3s 0.4s; 
            }
        }
    }

    // title
    h2 {
        transition: opacity 0.4s ease-in;

        &.detail-title {
            transition: opacity 0.3s ease-in 0.2s;
        }
    }

    // odd even
    article:nth-child(even) {
        .lines {
            span.vertical {
                transition: height 0.4s, right 0.4s;
                &.right {
                    transition: height 0.3s 0.4s, right 0.4s;
                }
            }
            span.horizontal {
                transition: width 0.4s, top 0.3s 0.4s;
                &.bottom {
                    transition: width 0.4s, top 0.4s;
                }
            }
        }

        // key visual
        .key-visual-container {
            transition: right 0.4s;
        }

        .key-visual {
            transition: margin-top 0.3s 0.4s, margin-left 0.4s, width 0.4s, height 0.3s;

            .key-visual-img-container {
                transition: transform 0.4s;
            }

            img {
                transition: transform 0.6s 0.4s, margin-left 0.4s;
            }
        }
    }

/// -------- overview ---------- ///
    .detail-only {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
//// overview: key visual
    .key-visual-container {
        width: 100vh; // margin top is calculated based on parent width instead of height
        // height: 100%;
        min-width: $full-viewport-min-height;
        overflow: visible;
        position: relative;
        top: 0;
        left: calc((200 / $ideal-viewport-width) * 100% + 4px);
    }
    .key-visual {
        position: relative;
        overflow: hidden;
        width: $key-visual-width;
        height: $key-visual-height;
        margin-top: calc((200 / $ideal-viewport-height) * 100% + 4px);
        
        .key-visual-img-container {
            transform: perspective(850px) 
                translate3d(0px, -15px, -50px);
            transform-origin: 0 0;
        }
                
        img {
            display: block;  
            width: 800px;
            height: 440px;
       
        }
        .img-shadow {
            display: block;
            width: 800px;
            height: 440px;
            transform-origin: 0 50%;
            transform: perspective(850px) 
                rotate3d(0, -1, 0, -15deg);

            &:after {
                content: "";
                width: 800px;
                height: 440px;
                position: absolute;
                left: 0;
                top: 0;
                background: black;
                opacity: 0.55;
            }               
        }
        
    }
//// overview: title
    h2 {
        
        @include fontSize(100px);
        white-space: nowrap;
        font-family: $helvetica;
        font-weight: bold;        
        line-height: lineHeight(100, 120);
        color: white;
        a {color: white;}
        text-shadow: 0px 0px 2px #9d9d9d;
        padding: 2px;
        position: absolute;
        z-index: 1;
        opacity: 1;

        &.overview-title {            
            left: (360 / $ideal-viewport-width) * 100%;
            top: (340 / $ideal-viewport-height) * 100%;
        }

        &.detail-title {
            opacity: 0;
            left: calc(50% + 380px);
            top: 180px;
            transform: scale(0.6, 0.6) translate(-100%, -100%);
            transform-origin: 0 0;
        }
    }
//// overview: info texts
    .info {
        color: $text-color;
        @include fontSize(14px);
        line-height: lineHeight(14, 22);
        position: absolute;

        &.time {
            @include fontSize(12px);
            left: calc((200 / $ideal-viewport-width) * 100% + 14px);
            top: calc((200 / $ideal-viewport-height) * 100% + -20px);
        }

        &.index {
            @include fontSize(18px);
            font-weight: 100;
            left: calc((200 / $ideal-viewport-width) * 100% + 687px + 10px);
            top: calc((200 / $ideal-viewport-height) * 100% - 30px);
        }

        &.more-info, 
        &.less-info {
            
            padding: 10px;
            white-space: nowrap;
            display: block;
            @include fontSize(12px);
            transition: opacity 1s 0.6s;

            left: calc((200 / $ideal-viewport-width) * 100% + 687px);
            top: calc((200 / $ideal-viewport-height) * 100% + 389px - 34px);

            .icon {
                @include fontSize(17px);
                font-weight: 600;
            }
        }

        &.more-info {
            opacity: 1;
            visibility: visible;
        }

        &.less-info {
            opacity: 0;
            visibility: hidden;
            background: rgba(0, 0, 0, 0);                       
        }


        &.project {

            left: (200 / $ideal-viewport-width) * 100%;
            top: calc((200 / $ideal-viewport-height) * 100% + 389px + 14px);

            width: 687px;

            line-height: lineHeight(14, 22);

            span {
                display: block;
                &.title {
                    @include fontSize(12px);
                    text-decoration: underline;
                }
            }

            p {
                margin-bottom: 1em;
            }

            li:before {
                content: "-";
                margin-right: 4px;
            }

            
        }
    }


//// overview: lines
    .lines {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        @media only screen and (min-width: 768px) {
            min-height: $full-viewport-min-height;
        }

        @media only screen and (max-width: 767px) {
            min-height: $full-viewport-min-height-mobile;
        }

        span {
            display: block;
            position: absolute;
        }

        span.vertical {
            width: 0;
            height: (760 / $ideal-viewport-height) * 100%;
            border-left: 1px solid $line-color;              
        }

        span.horizontal {
            height: 0;
            width: (1208 / $ideal-viewport-width) * 100%;
            border-top: 1px solid $line-color;

            &.top {
                top: (200 / $ideal-viewport-height) * 100%;
                left: 0;
                // max-width: 1208px;
                width: calc(200 / $ideal-viewport-width * 100% + 687px + (140 / $ideal-viewport-width * 100%));
                //transform: translate(0, 200px);
            }

            &.bottom {
                top: calc((200 / $ideal-viewport-height) * 100% + 389px);
                right: 0;
                width: calc(100vw - (200 / $ideal-viewport-width) * 100% + 77px);
                //transform: translate(122px, 589px);
            }
        }
    } 
    


//// overview: odd even
    article:nth-child(odd) .lines {

        span.vertical {            
            &.left {
                left: calc((200 / $ideal-viewport-width) * 100%);
                top: 0;
                //transform: translate(200px, 138px);
            }
            &.right {
                left: calc((200 / $ideal-viewport-width) * 100% + 687px);
                bottom: 0;
                //transform: translate(887px, 0px);
            }
        }

        
    }

    article:nth-child(even) {

        span.vertical {            
            &.left {
                left: auto;
                right: calc((200 / $ideal-viewport-width) * 100% + 687px);
                bottom: 0;
                //transform: translate(200px, 138px);
            }
            &.right {
                left: auto;
                right: calc((200 / $ideal-viewport-width) * 100% );
                top: 0;
                //transform: translate(887px, 0px);
            }
        }

        span.horizontal {
            &.top {
                left: auto;
                right: 0;
            }
            &.bottom {
                left: 0;
                right: auto;
            }

        }

        .key-visual-container {
            position: absolute;
            left: auto;
            right: calc((200 / $ideal-viewport-width) * 100% + 4px);
            
        }

        .key-visual {
            position: absolute;
            right: 0;

            .key-visual-img-container {
                height: 440px;
                transform: perspective(850px) 
                    translate3d(0px, -15px, -50px);
                transform-origin: 100% 0;
            }
                    
            img {
                position: absolute;
                right: 0;
                display: block;       
            }

            .img-shadow {
                position: absolute;
                right: 0;
                transform-origin: 100% 50%;
                transform: perspective(850px) 
                    rotate3d(0, -1, 0, 15deg);

                &:after {
                    left: auto;
                    right: 0;
                }
            }

        }
        
        h2 {
            left: (200 / $ideal-viewport-width) * 100%;
        }

        .info {

            &.time {
                left: auto;
                right: calc((200 / $ideal-viewport-width) * 100% + 687px - 70px);
            }

            &.index {
                left: auto;
                right: calc((200 / $ideal-viewport-width) * 100% - 36px);
            }

            &.more-info,
            &.less-info {
                left: auto;
                right: calc((200 / $ideal-viewport-width) * 100% - 92px);
            }

            &.project {
                left: auto;
                right: (200 / $ideal-viewport-width) * 100%;
            }
        }
    }

/// -------- detail ---------- ///
    article.detail {
        position: fixed;
        top: 0;
        left: 0;
        // height: 100vh;
        z-index: 2;
        overflow-y: scroll;

        &.full-viewport {
            // height: auto;
            > .container {
                height: auto;
            }
        }

        .first-row {
            @include clearfix;

            .col:first-child {
                padding-left: 0;
            }

            margin-bottom: 30px;
        }

        .overview-only {
            opacity: 0;
            visibility: hidden;
            display: none;
        }

        .detail-only {
            opacity: 1;
            visibility: visible;
            display: block;
        }

        .detail-short-row {
            width: 78%;
        }

    
//// detail: key visual
        .key-visual-container {
            left: calc(50% - 400px);
            position: relative;
        }
        .key-visual {
            position: relative;
            width: 800px;
            height: auto;            
            margin-top: 180px;
            
            .key-visual-img-container {
                transform: translate3d(0px, 0px, 0px);

                a {
                    pointer-events: none;
                }
            }

            .img-shadow {
                transform: perspective(850px) 
                        rotate3d(0, -1, 0, 0deg);

                &:after {
                    opacity: 0;
                }               
            }

            /* &:after {
                width: 800px;
                height: 439px;
                opacity: 0;
            } */
        }
//// detail: title
        h2 {
            &.overview-title {
                pointer-events: none;
                opacity: 0;
            }
            &.detail-title {
                opacity: 1;
            }            
        }

//// detail: info texts
        .info {
            color: $text-color-light;

            &.time {
                left: calc(50% - 380px);
                top: 156px;
            }

            &.index {
                left: calc(50% + 415px);
                top: 150px;
            }

            &.less-info {
                opacity: 1;
                visibility: visible;
                position: fixed;                
                left: calc(50% + 415px);
                top: 592px;
                background: rgba(0, 0, 0, 0.5); 
            }

            &.more-info {
                opacity: 0;
                visibility: hidden;
            }

            &.project {
                position: relative;
                width: 800px;
                left: calc(50% - 400px);
                //top: (180 + 438 + 40) * 1px;
                padding-top: 40px;
                // background: rgba(0, 0, 0, .8);
                
//// detail: project detail
                overflow: visible;

            }

            &.project-detail {
                background: rgba(0, 0, 0, .8);
                position: relative;
                width: 800px;
                margin: 0px auto;
                // margin: 20px -70px 80px -70px;
                .text {
                    padding: 30px 14px; 
                    position: relative;
                }
                .images {
                    position: relative;
                    margin: 10px 0 100px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }                   

                p {
                    font-family: $roboto;
                    font-weight: 100;
                    width: 70%;
                    span.strong {
                        display: inline;
                        font-weight: 400;
                    }
                }
            }
        }
//// detail: lines
        .lines {
            span.horizontal.top, span.horizontal.bottom,
            span.vertical.left, span.vertical.right {
                border-color: $line-color-light;
            }
            &.horizontal-lines {
                // position: fixed;
            }
            
            span.horizontal {
                width: 100%;
                // max-width: 100%;
                // min-width: 100%;

                &.top {
                    top: 180px;
                    
                }

                &.bottom {
                    top: (180 + 438) * 1px;
                }
            }
            span.vertical {
                height: 100%;

                &.left {
                    left: calc(50% - 400px);
                }

                &.right {
                    left: calc(50% + 400px);
                }
            }
        }

//// detail: odd even

        &:nth-child(even) {
            span.vertical {            
                &.left {
                    left: auto;
                    right: calc(50% + 400px);;
                }
                &.right {
                    left: auto;
                    right: calc(50% - 400px);
                }
            }

            .key-visual-container {
                left: auto;
                right: calc(50% - 400px);
                position: absolute;
            }

            .key-visual {
                right: 0;
                position: absolute;
                img {
                    margin-left: 0;
                }
            }

            .info{
                &.project {
                    position: absolute;
                    top: 620px;
                }
            }
        }
    }





// ------------ smaller desktop and tablet landscape------------ //
    @media only screen and (min-width: 1024px) and (max-width: 1160px) {
        h2 {
            @include fontSize(84px);
        }
    }
// ------------ tablet portrait --------------- //
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        
    }

// ------------ mobile -------------//

}