#adam-visualizer {
    background: #ffea4d;

    &.detail {
        background: #0a0206;        
    }

    .project-detail {
        .bg {
            background: #faf5f5;
            background: #ffea4d;
        }                
    }
}