#adam-visualizer {
    background: #faf5f5;

    &.detail {
        background: #0a0206;        
    }

    .project-detail {
        .bg {
            background: #faf5f5;
        }                
    }
}