/* home--------------*/
#home {

    h1 {
        font-weight: 100;
        span {
            display: block;
        }
        
        margin: 0 auto;
    }
    
    .name {
        font-weight: 600;
    }

    img#face {
        display: block;
        width: 33.333333%;
        max-width: 160px;
        border-radius: 50%;
        margin: 0 auto;
    }

    // mobile
    @media only screen and (max-width: 767px) {
        height: auto;
        
        img#face {
            max-width: 250px;
            margin-top: 80px; 
            margin-bottom: 30px;
        }

        h1 {
            text-align: center;

            @include fontSize(20px);
            line-height: lineHeight(20, 27);

            .greeting {
                @include fontSize(30px);
            }

            .name {
                @include fontSize(32px);
                line-height: lineHeight(32,42);
            }

            .role {
                line-height: lineHeight(20, 30);
            }

            .craft {
                @include fontSize(26px);
                line-height: lineHeight(52, 64);
            }

        }
    }

    // tablet and desktop
    @media only screen and (min-width: 768px) {
        height: 100vh;
        
        img#face {
            margin-top: 200 / 900 * 100vh;
            margin-bottom: 40px;
        }

        h1 {
            @include fontSize(24px);
            line-height: lineHeight(28, 36);
            max-width: 392px;
        }

        .greeting, .residence {
            display: inline;
        }

        .name {
            font-weight: 400;
            @include fontSize(50px);
            line-height: lineHeight(64, 82);
        }

        .craft {
            @include fontSize(36px);
        }
    }

    // hd desktop
    @media only screen and (min-width: 1024px) {
        h1 {
            @include fontSize(28px); 
            max-width: 456px;           
        }
        .name {
            @include fontSize(64px);
        }
        .craft {
            @include fontSize(48px);
        }
    }
}

