nav {
    z-index: 2;
    transition: all 400ms ease-in;

    li {
        display: inline-block;
    }

    a {
        color: $text-color;
        text-decoration: none;
        display: block;
    }

    .slogan {
        margin-top: 30px;
        margin-left: 40px;
    }

// mobile
    @media only screen and (max-width: 767px) {
        position: absolute;
        width: 100vw;
        height: 100vh;
        min-height: 560px;
        > .container {
            height: 100vh;
            min-height: 560px;
        }
        
        .slogan {
            display: none;
        }

        li {
            display: block;
            position: absolute;            

            &.bottom { //PROJECTS
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.left { //LAB
                transform-origin: 0 100%;
                transform: rotate(90deg) translateX(-100%);
                left: 20px;
                top: 50%;
            }

            &.right {//ABOUT                
                transform-origin: 100% 100%;
                transform: rotate(-90deg) translateX(80%);
                right: 20px;
                top: 50%;
            }
        }

        a {
            font-family: $roboto;
            @include fontSize(18px);
            text-transform: uppercase;
            color: black;
            padding: 5px 8px 5px 10px;
            border: 1px solid black;
            letter-spacing: 0.2em;
        }
    }

    // real mobile device
    @media only screen and (max-device-width: 736px) {
        height: calc(100vh - 67px); //fix mobile browser problem of viewport height changing
    }

    // mobile landscape
    @media only screen and (max-width: 767px) and (orientation: landscape) { 
        min-height: 667px;
    }

// tablet and desktop
    @media only screen and (min-width: 768px) {
        position: fixed;
        box-shadow: 0 0 5px 0 #cccccc;
        background: rgba(255, 255, 255, .95);

        transform-origin: top;
        transform: perspective(800px) rotate3d(1, 0, 0, 90deg);

        &.reveal {
            transform: perspective(800px) rotate3d(1, 0, 0, 0deg);

        }
        
        @include clearfix;
        width: 100vw;
        /*> .container {
            max-width: 1440px;
            margin: 0 auto;
        }*/
        .slogan {
            float: left;
            @include fontSize(14px);
            .name {
                @include fontSize(18px);
            }
        }
        ul {
            float: right;
            margin-top: 20px;
            margin-right: 50px;
        }

        li {
            margin-left: 20px;
            a {
                padding: 10px;
            }
        }
    }
}